# Backend
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.env
db.sqlite3
/media/
/static/

# Frontend
node_modules/
/build/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
.DS_Store
Thumbs.db
